@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/**//*

@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: #5C7FB8;
}

a:hover {
  text-decoration: underline;
}


a[data-tooltip] {
  position: relative;
}

a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

a[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
  z-index: 10;
}

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
  z-index: 10;
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

a[data-tooltip][data-placement='top']::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
}

a[data-tooltip][data-placement='top']::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 90%;
  left: 20px;
  margin-bottom: 4px;
}

*/